:root {
  font-family: monospace;
}
h1 {
  font-size: 5em;
}
blockquote {
  background: grey;
  margin: 0;
  padding: 1em 2em;
  color: white;
  margin-bottom: 4em;
}
hr {
  border: none;
  margin: 2em;
}
h1 {
  margin-bottom: 0.5em;
}
